.login{
    text-align: center;
}
#pri-navbar{
    width: 100%;
    height: 60px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#login-div{
    border: 1px solid #285157;
    width: 30%;
    height: 380px;
    margin: auto;
    margin-top: 100px;
    background-color: #285157;
    color: white;
    border-radius: 20px;
}
.email{
    width: 300px;
    height: 30px;
    border: 1px solid #285157;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pwd{
    width: 300px;
    height: 30px;
    border: 1px solid #285157;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.submit{
    width: 300px;
    height: 35px;
    background-color: #285157;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}